<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.yyf.book.mapper.BookMapper">
    <!-- 添加书籍-->
    <insert id="insertBook" keyProperty="bookId" useGeneratedKeys="true">
        insert into book
        values(default, #{studentCode}, #{bookName},
        #{bookStyle, typeHandler = cc.yyf.book.typeHandler.MyTypeHandler},
        #{bookIntroduction}, #{bookSrc}, #{bookDate}, #{price}, #{stock});
    </insert>

    <!-- 库存减 -->
    <update id="subStock">
        update book set stock = stock - #{num} where bookId = #{bookId};
    </update>

    <!-- 库存加一 -->
    <update id="addStock">
        update book set stock = stock + #{num} where bookId = #{bookId};
    </update>

    <!-- 获取存货信息 -->
    <select id="getStock" resultType="int">
        select stock from book where bookId = #{bookId};
    </select>

    <!-- 查询已过期订单的书籍编 -->
    <select id="selectInvalidOrder" resultType="int">
        select orderId from userOrder where orderStatus = #{status, typeHandler = cc.yyf.book.typeHandler.OrderEnumTypeHandler} and orderEndTime &lt; #{time};
    </select>

    <!-- 取消过期订单 -->
    <update id="orderJobMapper">
        update userOrder set orderStatus = #{newStatus, typeHandler = cc.yyf.book.typeHandler.OrderEnumTypeHandler} where orderStatus = #{oldStatus, typeHandler = cc.yyf.book.typeHandler.OrderEnumTypeHandler} and orderEndTime &lt; #{time};
    </update>
</mapper>