<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.yyf.book.mapper.HomeMapper">
    <!-- 根据学号查询用户信息 -->
    <select id="selectPersonByStudentCode" resultType="person">
        select *from user where studentCode = #{studentCode};
    </select>

    <!-- 修改书籍信息 -->
    <update id="updateBook">
        update book set
        bookName = #{book.bookName},
        bookIntroduction = #{book.bookIntroduction},
        price = #{book.price},
        bookStyle = #{book.bookStyle, typeHandler = cc.yyf.book.typeHandler.MyTypeHandler}
        where bookId = #{book.bookId} and studentCode = #{studentCode};
    </update>

    <!-- 获取自己发布的书籍总数 -->
    <select id="getOwnBookTotal">
        select count(*) from book where studentCode = #{studentCode};
    </select>
</mapper>