<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.yyf.book.mapper.MessageMapper">
    
    <!-- 获取卖出的书籍信息 -->
    <select id="getSellBook" resultType="sellBook">
        select o.buyNumber, o.studentCode as buyerStudentCode, o.buyDate, b.bookName, b.bookSrc, u.userName as buyerName
        from userOrder o
        left join book b
        on o.bookId = b.bookId
        left join user u
        on o.studentCode = u.studentCode
        where b.studentCode = #{studentCode} and
        orderStatus = #{status, typeHandler = cc.yyf.book.typeHandler.OrderEnumTypeHandler}
        limit #{from}, #{size};
    </select>

    <!-- 获取卖出书籍的总数 -->
    <select id="getSellBookTotal">
        select count(*) from userOrder u
        left join book b
        on u.bookId = b.bookId
        where orderStatus = #{status, typeHandler = cc.yyf.book.typeHandler.OrderEnumTypeHandler}
        and b.studentCode = #{studentCode};
    </select>
</mapper>