<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.yyf.book.mapper.OrderMapper">
    <!-- 查询购物车内容时用到的映射关系 -->
    <resultMap id="searchBuyCar" type="buyCarSelect">
        <id property="buyCarId" column="buyCarId"/>
        <result property="addTime" column="addTime"/>
        <association property="book" javaType="cc.yyf.book.pojo.Book">
            <id property="bookId" column="bookId"/>
            <result property="bookName" column="bookName"/>
            <result property="studentCode" column="studentCode"/>
            <result property="userName" column="userName"/>
            <result property="bookStyle" column="bookStyle" typeHandler="cc.yyf.book.typeHandler.MyTypeHandler"/>
            <result property="bookIntroduction" column="bookIntroduction"/>
            <result property="bookSrc" column="bookSrc"/>
            <result property="bookDate" column="bookDate"/>
            <result property="price" column="price"/>
            <result property="stock" column="stock"/>
        </association>
    </resultMap>

    <!-- 查询订单时用到的映射关系 -->
    <resultMap id="userOrder" type="userOrder">
        <id property="orderId" column="orderId"/>
        <result property="studentCode" column="buyer"/>
        <result property="bookId" column="bookId"/>
        <result property="buyDate" column="buyDate"/>
        <result property="orderStatus" column="orderStatus" typeHandler="cc.yyf.book.typeHandler.OrderEnumTypeHandler"/>
        <association property="book" javaType="cc.yyf.book.pojo.Book">
            <id property="bookId" column="bookId"/>
            <result property="studentCode" column="studentCode"/>
            <result property="bookName" column="bookName"/>
            <result property="stock" column="stock"/>
            <result property="bookStyle" column="bookStyle" typeHandler="cc.yyf.book.typeHandler.MyTypeHandler"/>
            <result property="bookIntroduction" column="bookIntroduction"/>
            <result property="bookSrc" column="bookSrc"/>
            <result property="userName" column="userName"/>
            <result property="bookDate" column="bookDate"/>
            <result property="price" column="price"/>
        </association>
    </resultMap>

    <!-- 添加书籍到购物车 -->
    <insert id="insertBuyCar" parameterType="buyCarAdd">
        insert into buyCar values(default, #{bookId}, #{studentCode}, #{addTime});
    </insert>

    <!-- 查询购物车 -->
    <select id="searchBuyCar" resultMap="searchBuyCar">
        select b.addTime, b.buyCarId, book.*, u.userName
        from buyCar b
        left join book
        on b.bookId = book.bookId
        left join user u
        on u.studentCode = book.studentCode
        where b.studentCode = #{studentCode}
        order by addTime desc
        limit #{from}, #{size};
    </select>

    <!-- 删除购物车中的一件商品 -->
    <delete id="deleteBuyCar">
        delete from buyCar where buyCarId = #{buyCarId} and studentCode = #{studentCode}
    </delete>

    <!-- 添加订单 -->
    <insert id="insertBookOrder" parameterType="userOrder">
         insert into userOrder values(default, #{studentCode},
        #{bookId}, #{buyDate},
        #{orderStatus, typeHandler = cc.yyf.book.typeHandler.OrderEnumTypeHandler}, #{orderEndTime});
    </insert>

    <!-- 获取订单 -->
    <select id="searchOrder" resultMap="userOrder">
        select b.*, u.userName, o.studentCode buyer, o.orderId, o.buyDate, o.orderStatus, o.bookId
        from userOrder o
        left join book b
        on o.bookId = b.bookId
        left join user u
        on b.studentCode = u.studentCode
        where o.studentCode = #{studentCode}
        order by o.buyDate desc
        limit #{from}, #{size};
    </select>

    <!-- 根据订单类别获取订单 -->
    <select id="searchOrderByStyle" resultMap="userOrder">
        select b.*, u.userName, o.studentCode buyer, o.orderId, o.buyDate, o.orderStatus, o.bookId
        from userOrder o
        left join book b
        on o.bookId = b.bookId
        left join user u
        on b.studentCode = u.studentCode
        where o.studentCode = #{studentCode} and o.orderStatus = #{status}
        order by o.buyDate desc
        limit #{from}, #{size};
    </select>

    <!-- 用户直接从商品主页付款 -->
    <insert id="buyBook" parameterType="userOrder">
        insert into userOrder
        values(default, #{studentCode}, #{bookId}, #{buyDate},
        #{orderStatus, typeHandler = cc.yyf.book.typeHandler.OrderEnumTypeHandler}, default);
    </insert>
</mapper>