<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.yyf.book.mapper.RegisterMapper">
<!--   注册:插入用户信息到数据库   -->
    <insert id="insertPerson" parameterType="person">
        insert into user values(#{studentCode}, #{userName}, #{headSrc}, #{password}, #{phoneNumber});
    </insert>

    <!-- 创建money表中的用户记录 -->
    <insert id="insertMoney">
        insert into money values(#{studentCode}, default);
    </insert>
</mapper>